@font-face {
    font-family: 'Year-Progress-Bar-Font';
    src: url('font/Roboto-Black.woff2') format('woff2'), url('font/Roboto-Black.woff') format('woff');
    font-display: swap;
}

html {
    touch-action: manipulation;
}

body {
    overflow-wrap: break-word;
    font-family: 'Year-Progress-Bar-Font';
    font-size: 1.1em;
}

body {
    box-sizing: border-box;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    body {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    body {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    body {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    body {
        max-width: 1140px;
    }
}

a {
    color: inherit;
}

#progress_bar_name {
    margin: 0;
}

#progress_bar {
    border: 4px solid black;
    width: calc(100% - 8px);
    height: 55px;
    background-color: #e3e3ef;
    max-width: 600px;
    margin: auto;
}

#progress_bar_message {
    font-size: 1.2em;
}

#show_next_year_progress_bar_button {
    display: none;
}

div#main {
    position: relative;
    width: 100%;
    height: 100%;
}

div#links {
    position: absolute;
}

div#contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
}

/*bg color*/
body.season1-theme {
    background: linear-gradient(120deg, #e0ffff 0%, #1e90ff 100%);
}

body.season2-theme {
    background: linear-gradient(120deg, #e0ffff 0%, burlywood 100%);
}

body.season3-theme {
    background: linear-gradient(-45deg, #1e90ff, #a8e1ee, #c2f9d0, rgb(247, 255, 141), burlywood);
}

body.season4-theme {
    color: #ccc;
    background: linear-gradient(120deg, #0aa 0%, #002040 100%);
    background-size: 150% 150%;
    animation-name: season4-theme-animation;
    animation-duration: 5.0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes season4-theme-animation {
    0%{
        background-position: 0 0;
    }
    
    100%{
        background-position: 100% 100%;
    }
}

/* Season 5 Theme */
/* Candidate 1
body.season5-theme {
    background: linear-gradient(120deg, #0aa, #002040, #0aa, #002040);
}
*/
